<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/single-image" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <label for="image">Choose an image.</label>
          <input type="file" class="form-control-file" name="image">
          <!-- <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers"> -->
          <input type="submit" value="submit" class="btn btn-default">
        </div>
    </form>
</body>
</html>